<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google CSE - Test Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <form method="post" action="/index.php">
                <div class="form-group">
                    <label for="keyword">Keyword</label>
                    <input type="text" class="form-control" id="keyword" aria-describedby="keywordHelp" placeholder="Enter keyword" required="true" value="{{form.keyword}}" name="keyword">
                    <small id="keywordHelp" class="form-text text-muted">Enter a keyword you want to search in Google.</small>
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control" id="url" aria-describedby="urlHelp" placeholder="URL" required="true" value="{{form.url}}" name="url">
                    <small id="urlHelp" class="form-text text-muted">Enter a URL you want to lookup.</small>
                </div>
                <button type="submit" class="btn btn-primary" value="submit" name="submit">Submit</button>
            </form>
        </div>
    </div>
    {% if result is defined %}
    <div class="row">
        <div class="col"><p>&nbsp;</p></div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <p><strong>{{form.url}}</strong> appeared <strong>{{result.count}}</strong> time(s) while searching <strong>{{form.keyword}}</strong> in Google.</p>
        </div>
    </div>
    {% endif %}

</div>
</body>
</html>